$purple: #07043B;
$blue: #2F65F8;
$green: #3DA08F;
$email-grey: #C2C2C2;
$ea-bg: #575988;
$dark-purple: #07043B;

@font-face {
    font-family: 'open-sans-bold';
    src: url(Open_Sans/OpenSans-Bold.ttf);
}
@font-face {
    font-family: 'open-sans-reg';
    src: url(Open_Sans/OpenSans-Regular.ttf);
}
h1, h3 {
    font-family: 'open-sans-bold';
}
p, h4, h2, a {
    font-family: 'open-sans-reg';
}

%section-flex {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
%image-sizing {
    width: 70vw;
    height: auto;
}
%p-style {
    margin: 0 auto;
    color: $purple;
    line-height: 28px;
    width: 85%;
    padding-bottom: 30px;
    padding-top: 10px;
}

%input-style {
    width: 80%;
    height: 40px;
    padding-left: 4%;
    margin-bottom: 15px;
    border: 1px solid $purple;
    box-shadow: 2px 3px 6px 0px rgba(0,0,0,0.1593);
}

%button-style {
    width: 85%;
    height: 40px;
    border: none;
    background-color: $blue;
    color: white;
    box-shadow: 2px 3px 6px 0px rgba(0,0,0,0.1593);
}
h1 {
    color: $purple;
}
.nav {
    display: flex;
    flex-direction: row;
    // REALLY GOOD FOR NAV BARS
    justify-content: space-between;
    margin-bottom: 80px;
    .logo {
        width: 100px;
        height: 30px;
        margin-top: 25px;
        margin-left: 20px;
    }
    .nav-list {
        margin-top: 26px;
        li {
            display: inline;
            margin-right: 30px;
            a {
                color: $purple;
                text-decoration: none;
                font-size: 14px;
            }
        }
    }
}
.sec-1 {
    
    @extend %section-flex;
    // padding-bottom: 100px;
    .image-1 {
        @extend %image-sizing;
    }

    .sec-1-content {
        text-align: center;
        margin: 0 auto;
        p {
            @extend %p-style;
        }
    }
    .form-content {
        @extend %section-flex;
        border: none;
        input {
            @extend %input-style;
        }
        button {
            @extend %button-style;
        }
        padding-bottom: 100px;
    }

    .curve {
        width: 100vw;

    }
}

.sec-2 {
    background-color: #F8F8FE;
    h1 {
        font-size: 20px;
    }
    
    @extend %section-flex;

    .image-2 {
        @extend %image-sizing;
    }

    .sec-2-content {
        text-align: center;
        margin: 0 auto;
        margin-top: 100px;
        p {
            @extend %p-style;
            color: #615F7E;
        }
        .p2 {
            margin-top: -20px;
        }

        .link {
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            border-bottom: 2px solid $green;
            width: 38%;
            margin: 0 auto;
            margin-bottom: 50px;
            a {
                color: $green;
                text-decoration-line: none;
            }
            img {
                width: 24px;
                margin-left: 10px;
            }
        }
    }

    .testimonial {
        background-color: white;
        text-align: left;
        box-shadow: 0px 0px 8px 4px rgba(0,0,0,0.0459);
        width: 400px;
        height: auto;
        margin: 0 auto;
        margin-bottom: 100px;
        padding-top: 40px;
        p {
            color: $purple;
        }
        img {
            margin-left: 30px;
        }
        
        .profile {
            margin-top: -20px;
            display: flex;
            flex-direction: row;
            justify-content: left;
            align-items: center;
            img {
                border-radius: 50%;
                width: 40px;
                height: 40px;
            }
            .bio {
                margin-left: 15px;
                margin-top: -30px;
                h3{
                    margin-top: 45px;
                    font-size: 16px;
                }
                h4{
                    margin-top: -10px;
                    font-size: 12px;
                    letter-spacing: 0.3px;
                }
            }
        }
    }
}

.early-access {
    background-color: $ea-bg;
    margin-top: -25px;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 80px;
    @extend %section-flex;
    .ea-content {
        h2 {
            color: white;
        }
        p {
            @extend %p-style;
            color: white;
        }
    }

    .form-content{
        width: 100vw;
        input {
            @extend %input-style;
            border: none;
        }
        button {
            @extend %button-style;
        }
    }
    
}

footer {
    background-color: $dark-purple;
    color: white;
    font-family: 'open-sans-reg';
    font-size: 14px;

    ul {
        list-style-type: none;
    }
    li {
        padding-bottom: 12px;
    }
    .logo{
        fill: white !important;
        width: 100px;
        height: auto;
        margin-bottom: 10px;
        margin-left: 35px;
        margin-top: 50px;
    }
}
